@*@model Cyber_Kitchen.Models.RestaurantModel

@{
    ViewBag.Title = "CreateRestaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert-info">ADD RESTAURANTS</h1>
<div class="card-body" id="bar-parent">
    <form action="CreateRestaurant" method="Post" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-body">
            <div class="form-group row">
                <label class="control-label col-md-3">
                    Rest Name
                    <span class="required" aria-required="true"> * </span>
                </label>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.RestName, new { @class = "form-control input-height", placeholder = "enter restaurant name" })
                    @Html.ValidationMessageFor(m => m.RestName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="offset-md-3 col-md-6 pull-right">
                        <button type="submit" class="btn btn-info" id="submitData">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>

                    </div>
                    <div class=" col-md-1">
                        <a href="@Url.Action("Index","Restaurant", new { area = ""})" class="btn btn-chatpane">Back To List(s)</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
